body{
    font-family: 'Righteous', cursive;
    background-color: #FFFAEF;
}
.header {
    height: 800px;
}
.logo {
    height: 100px;
    width: 140px;
    margin-right: 50px;
}
.orange{
    color: #FA682A;
}
.yellow {
    color :#FDCC0D;
}
.bgorange{
    background-color: #FA682A;
}
.poppins {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}


.nav-bg {
    background-color: transparent !important;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #FA682A;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-item {
    color: #FA682A;
    border-bottom: 2px solid #FA682A;
}
.carousel {
    position:absolute;
    top:0;
}
.navbar {
    position:absolute;
    z-index:10;
    background:#fff;
    width:100%;
}
.carousel .carousel-indicators button {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 10px;
 }
 .carousel-caption {
    top: 160px;
    bottom: auto;
    text-align: left;
}


.btn-call {
    background-color: #FA682A;
    border-radius: 21px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    height: 41px;
    width: 247px;
    padding: 10px;
    line-height: 22px;
    text-align: center;
}
.officetime{
    color: #303030;
    font-size: 12px;
    margin-left: 54px;
}
.hero-image{
    font-size: 78px;
    width: 600px;
    margin-top: 60px;
    color: #6B1010;
}
.heading2{
    color: #303030;
    font-size: 34px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;

}
.main-body {
    background-color: #FFFAEF;
    height: auto;
}
.text-color{
    color: #6B1010;
}



.section1p {
    border-left: 4px solid #FA682A;
    padding: 10px;
}
.section1p2 {
    color: #303030;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align:left;
}
.section1p3 {
    color: #303030;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    text-align:left;
}
.readmore{
    color:#FA682A;
    font-size: 22px;
    text-decoration:none;
}
.section3{
    height: 394px;
    background-image: url('../images/section3bg.png');
    padding: 84px;
    text-align: center;
}
.plain-bg {
    background: #FFDCC2;
    border-radius: 65px;
    padding: 8px;
    margin-left: -15px;
    margin-right: 16px;
}
.section4 li {
    background: transparent;
    border: none;
    font-size: 20px;

}

.cardplan {
  background-color:  #FFFAEFB3;
  border: 2px solid #FA682A;
}

.cardplanactive {
    color:  #FFFAEF;
    border: none;
    height: 185px;
  }
.cardplanactive p {
    font-size: 13px;
}

.cardtestmon{
    background: #FFDCC2;
    border-radius: 0px 100px 0px 0px;
    border: none;
    color: #303030;
    font-size: 13px;
}




.cardplan img {
    margin-top: 50px;
    width: 50px;
    margin-left: 97px;
    margin-bottom: 35px;
}

.footer-bg{
    background-color: #6B1010;
}
.footer-bg  h1 {
 font-size: 16px;
 color: #FA682A;
 margin-top: 50px;
 text-align: left;
}
.footer-bg p {
    color: #FFDCC2;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
.footer-bg li {
 background: transparent;
 border: none;
}
.footer-bg i {
    color: #FFF;
    font-size: 28px;
}

.footer-bg hr {
    color: #FFF;
}
.email-footer{
    margin-left : 10px;
}

.email-footer a {
    color: inherit;
    text-decoration: none;
}

.email-footer a:hover {
    color:inherit; 
    text-decoration:none; 
    cursor:pointer;  
}